*
{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.body
{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #ededed;
}
.main
{
    margin-top: 20px;
    flex: 1;
    max-width: 720px;
    background-color: white;
    box-shadow: #444444 0px 0px 10px;
    padding: 30px;
    height: calc(100vh - 40px);
}
.main__titulo
{
    color: #2e2e2e;
    font-size: 2rem;
}
.main__datos
{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    margin-top: 20px;
    border: 3px solid #444444;
    border-radius: 10px;
    overflow: hidden;
}
.main__datos1
{
    width: 100%;
    padding: 7px 7px;
}
.main__datos2
{
    width: 100%;
    padding: 7px 7px;
}
.main__input
{
    padding: 0px 10px;
    font-size: 15px;
    color: #444444;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #b6b6b6;
}
.main__ingresar__producto
{
    margin-top: 20px;
    border: 1px solid #c93825;
    border-radius: 5px;
    height: 45px;
    padding-top: 10px;
}
.main__input__producto
{
    border: none;
    outline: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #2e2e2e;
}
#inputCantidad
{
    width: 50px;
    text-align: center;
}
#inputPUnit
{
    width: 50px;
    text-align: center;
}
.main__ingresar
{
    color: #eeeeee;
    background-color: #c93825;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 50px;
    padding: 4px;
}
.main__productos
{
    margin-top: 20px;
    border: 2px solid #b6b6b6;
    border-radius: 5px;
}
.main__productos__cabecera
{
    width: 100%;
    height: 30px;
    border-bottom: 2px solid #2e2e2e;
    display: flex;
    text-align: center;
}
.cantidad
{
    flex: 0.5;
}
.descripcion
{
    flex: 3;
}
.p_unit
{
    flex: 1;
}
.p_total
{
    flex: 1;
}
.main__productos__lista
{
    list-style: none;
    padding: 0;
}
.main__item
{
    height: 30px;
    display: flex;
    border-bottom: 1px solid #2e2e2e;
    align-items: center;
    text-align: center;
}
.main__total
{
    margin-top: 30px;
    border: 2px solid #444444;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main__guardar__factura
{
    margin-top: 15px;
    border: none;
    outline: none;
    padding: 6px 6px;
    border-radius: 8px;
    background-color: #c0c0c0;
    color: #ffffff;
}